@import "../../index.css";

.bookPage {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 4rem;
  align-items: start;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;
}

.bookImage {
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  justify-self: center;
  align-self: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 2/3;
}

.details h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.details p {
  font-size: 1rem;
  line-height: 1.6;
}

.description {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
}

.actionRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  grid-column: 2/3;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
}

.addToCart {
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.addToCart:hover {
  background-color: var(--dark-orange);
}

@media (max-width: 900px) {
  .bookPage {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .details {
    align-items: center;
    grid-column: 1/2;
  }

  .bookImage {
    max-width: 300px;
  }

  .actionRow {
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
}
